<div class="nav-navicon admin-main admin-sidebar">
    
    
    <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;"> 欢迎系统管理员：{$Think.session.admin} <a href="{:url('index/index')}" style="color: #aeb2b7;">注销</a></div>
    <div class="sideMenu">
      <h3 class="am-icon-flag"><em></em> <a href="#">用户信息管理</a></h3>
      <ul style="list-style: none;">
        <li><a href=""><a href="{:url('yonghuliebiao')}">用户列表</a></a></li>
        <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="{:url('tianjiayonghu')}">添加新用户</a></li>
      </ul>

      <h3 class="am-icon-users"><em></em> <a href="#">管理员信息管理</a></h3>
      <ul style="list-style: none;">
        <li><a href="{:url('adminliebiao')}">管理员列表</a></li>
        <li><a href="{:url('tianjiaadmin')}">添加管理员</a></li>
      </ul>

      <h3 class="am-icon-cart-plus"><em></em> <a href="#">用户邮箱管理</a></h3>
      <ul style="list-style: none;">
        <li><a href="{:url('emailliebiao')}">邮箱列表</a></li>
      </ul>

      <h3 class="am-icon-volume-up"><em></em> <a href="#">反馈信息管理</a></h3>
      <ul style="list-style: none;">
        <li><a href="{:url('liuyanliebiao')}">留言列表</a></li>
      </ul>

    </div>
    
    <script type="text/javascript">
      jQuery(".sideMenu").slide({
        titCell:"h3", //鼠标触发对象
        targetCell:"ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
        effect:"slideDown", //targetCell下拉效果
        delayTime:300 , //效果时间
        triggerTime:150, //鼠标延迟触发时间（默认150）
        defaultPlay:true,//默认是否执行效果（默认true）
        returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
        });
    </script>    
</div>